.order_details_wrapper {
  display: flex;
}
.item_card {
  display: flex;
  align-items: center;
  box-shadow: 18px -7px 15px -3px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  margin: 20px;
}
.order_id {
  display: flex;
  justify-content: space-between;
}
.order_details_container {
  width: 100%;
  padding: 25px;
  display: flex;

  min-height: 100vh;
}
.order_details_info {
  width: 40%;
}
.order_product_img {
  width: 100px;
}
.items {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}
.item_detail {
  padding: 20px;
}
@media only screen and (max-width: 888px) {
  .order_details_container {
    flex-direction: column;
  }
  .items {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .order_details_info {
    width: 100%;
  }
  .item_card {
    width: 60vw;
  }
}

@media only screen and (max-width: 550px) {
  .item_card {
    width: 90vw;
  }
}
@media only screen and (max-width: 350px) {
  .item_card {
    width: 100vw;
  }
  .order_product_img {
    width: 60px;
  }
}
