.change_password_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change_password_container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 25px;
  width: 400px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.change_password_container input {
  border: none;
  margin-bottom: 10px;
  padding: 15px 5px;
  width: 100%;
}
.change_password_container input:focus {
  outline: none;
}
.change_password_container button {
  padding: 15px 20px;
  border: none;
  background-color: #ff3f6c;
  color: white;
  font-size: 16px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .change_password_container {
    width: 100vw;
    height: 100vh;
  }
}
