.profile {
  min-height: 100vh;
}
.profile header {
  padding: 15px;
}

.header_user_name {
  text-transform: capitalize;
}
.profile_main {
  display: flex;
  padding: 15px;
  width: 100%;
}
.profile_sidebar {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 0;
  width: 20%;
}

.profile_outlet_wrapper {
  width: 80%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.profile_sidebar_links {
  text-decoration: none;
  padding-bottom: 10px;
}
