.place_order_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.place_order_form {
  width: 70vw;
  display: flex;
  flex-direction: column;
}
.place_order_form input {
  border: none;
  padding: 15px 10px;
  background-color: #f4f4f4;
  margin: 10px 0;
}
.place_order_btn {
  width: 100%;
  border: none;
  margin-top: 20px;
  padding: 15px 0;
  background-color: #ff3f6c;
  color: white;
}
