.search_results_wrapper {
  width: 100%;
  height: 100%;
}
.search_results_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
