.products {
  display: flex;
  width: 100vw%;
}

.products_sidebar {
  width: 20%;
  padding: 25px;
}
.product_wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
}
.products_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.category_container,
.forWhom_container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .product_wrapper {
    width: 65%;
  }
  .products_sidebar {
    width: 35%;
    padding: 25px;
  }
}
@media only screen and (max-width: 481px) {
  .product_wrapper {
    width: 60%;
  }
  .products_sidebar {
    width: 40%;
    padding: 25px 25px 25px 5px;
  }
}
