.product_detail_wrapper {
  margin-top: 30px;
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product_carousel {
  width: 40%;
}
.product_carousel_img_wrapper {
  padding: 25px;
}
.product_carousel_img {
  width: 100%;
}
.product_details {
  padding: 25px;
}
.out_of_stock {
  color: red;
  font-weight: bold;
}
.in_stock {
  color: green;
  font-weight: bold;
}
.add_to_cart_btn {
  background-color: #ff3f6c;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  color: white;
}

.product_reviews {
  width: 100%;
  display: flex;
  padding: 25px;
  overflow-x: scroll;
}
.product_quantity_btn {
  border: none;
  padding: 10px;
  background-color: #ff3f6c;
}
.product_quantity_input {
  padding: 10px 0px;
  width: 30px;
  display: inline;
  border: none;
  background-color: transparent;
  color: black;
  text-align: center;
}

@media only screen and (max-width: 820px) {
  .product_detail_wrapper {
    flex-direction: column;
  }
  .product_carousel {
    width: 100%;
  }
  .product_details {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .product_details .add_to_cart_btn {
    width: 100%;
  }
  .product_details_ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product_details_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product_details_price {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 820px) {
  .product_detail_wrapper {
    width: 100vw;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
